# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual Environment
venv/
*.venv/
env/
ENV/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Test files (if you create any)
test_code.py